/* ----------------------------------------------------------------------------
 * Global Styles
 * ------------------------------------------------------------------------- */

:root {
	--border-color: #e4e6e6;
	--primary-bg-color: #fcfdfd;
	--secondary-bg-color: #ffffff;
	--tertiary-bg-color: #f8f8f8;
	--primary-font: 'Cardo', serif;
	--secondary-font: 'Lora', serif;
	--primary-text-color: #000000;
	--primary-text-color: #000000;
	--link-text-color: #696072;
}

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	background-color: var(--primary-bg-color);
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 1.5rem;
	color: var(--link-text-color);
}

a {
	text-decoration: none;
	color: var(--link-text-color);
}
