/* Navigation Bar */
.nav-bar {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 10%;
  border: 1px solid rgb(191, 191, 191);
}

.nav-flex-container {
  display: flex;
  width: 100%;
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-size: 2.5em;
  font-weight: 900;
}

.menu-icon {
  position: fixed;
  width: 7.5%;
  height: 10%;
}

.home-icon {
  width: 100%;
  font-family: 'tangerine', cursive;
}

/* Navigation Menu */
.nav-menu {
  position: fixed;
  visibility: hidden;
  overflow: hidden;
  list-style: none; 
  width: 0%;
  height: 0%;
  background-color: rgb(255, 255, 255);
}

.nav-menu, .nav-links, .nav-links li {
  background-color: rgb(245, 245, 245);
}

.nav-menu, .nav-links, .nav-links li {
  background-color: rgb(245, 245, 245);
  font-family: 'Cardo', serif;
}

.nav-menu.show-menu {
  bottom: 10%;
  visibility: visible;
  width: 100%;
  height: 90%;
  text-align: center;
}

.nav-links {
  padding: 7%;
  font-size: 2em;
}

.nav-links li {
  padding: 2.5%;
  font-weight: 500;
}
