* {
    box-sizing: border-box; 
}

/* css rule for testing border and margins.
Will delete after experimentation phase */
header, .nav-common, .cover-media, 
.memoria-logo, .cover-title, 
.cover-subtitle {
}

/* cover heading */
.cover-header {
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 20% vh;
    width: 100%;
}

/* journal title */
.cover-title {
    text-transform: uppercase;
    font-size: 4.5em;
    font-weight: 900;
}

/* author's name */
.cover-subtitle {
    text-transform: capitalize;
    font-size: 1.75em;
    font-weight: 500;
}

/* navigation sidebar */
.nav-common {
    color: black;

    /* keeps sidebar fixed on the top-left corner of the page */
    display: inline-block;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgba(169, 245, 247, 0.65);
    padding: 0.75em;
}

/* navigation button */
.navbar-toggle {
    color: black;
    font-size: 1em;
    font-weight: 550;

    position: relative;
    background-color: rgba(211, 248, 255, 0.9);
    border: none;
}

/* dropdown links */
.nav-links {
    font-size: 1em;
    display: none;
}

/* page main content */
.cover-media {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: rgb(163, 241, 251);
    width: 100%;
    height: 35em;
}

/* site logo */
  .memoria-logo {
    font-family: 'tangerine', cursive;
    font-size: 2.5em;
    font-weight: 900;
    color: black;
    
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0.5em;
}

/* page margins for parent flexbox elements */
.header, .cover-media, .memoria-logo, .cover-title, .cover-subtitle {
    margin: 0.25em;
}

/* establishes common font-family */
.cover-header, .nav-common, .cover-media {
    font-family: 'cardo', sans-serif; 
}

/* assign paddings to header child items */
.cover-title, .cover-subtitle {
    padding: 0.25em;
}
