/* ----------------------------------------------------------------------------
 * Global Styles
 * ------------------------------------------------------------------------- */

:root {
	--border-color: #ffffff;
	--primary-bg-color: #fafafa;
	--secondary-bg-color: #fbfbfb;
	--tertiary-bg-color: #f4f3f5;
	--frosted-bg-color: rgba(252, 253, 253, 0.82);
	--primary-font: Cardo, serif;
	--secondary-font: Lora, serif;
	--primary-text-color: #5b5463;
	--secondary-text-color: #988ba6;
	--link-icon-color: #696072;
	--primary-text-shadow: 0 0.125rem 0.25rem rgba(78, 63, 86, 0.3);
	--secondary-text-shadow: 0rem 0.25rem 0.6rem rgba(78, 63, 86, 0.977);
}

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--link-icon-color);
}
