/* ----------------------------------------------------------------------------
 * Note Workspace 
 * ------------------------------------------------------------------------- */

.workspace {
	display: flex;
	justify-content: center;
	padding: 30px 20px;

	/* Fallback styles */
	width: 100vw;
	height: 93svh;
	max-height: calc(100svh - 55px);

	/* Styles for browsers that support dvw and dvh */
	@supports (width: 1dvw) and (height: 1dvh) {
		width: 100dvw;
		height: 93dvh;
		max-height: calc(100dvh - 55px);
	}
}
/* ----------------------------------------------------------------------------
 * Note Editor
 * ------------------------------------------------------------------------- */

.workspace__active-note {
	display: flex;
	width: clamp(40ch, 50%, 80ch);
	height: 100%;
}

/* ----------------------------------------------------------------------------
 * Responsive Breakpoints
 * ------------------------------------------------------------------------- */

@media screen and (min-width: 400px) {
	.workspace {
		padding: 40px;
	}
}
