/* ----------------------------------------------------------------------------
 * Notes Collection - Container
 * ------------------------------------------------------------------------- */

.notes-collection {
	display: flex;
	max-width: 100vw;
	min-height: 93vh;
	margin: 40px;
	padding-bottom: 7vh;
	background-color: var(--primary-bg-color);
}

/* ----------------------------------------------------------------------------
 * Notes Collection - Notecards - Container
 * ------------------------------------------------------------------------- */

.notes-collection__notecards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	gap: 25px;
	width: 100%;
}
