/* ----------------------------------------------------------------------------
 * Note Workspace - Container
 * ------------------------------------------------------------------------- */

.workspace {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 93vh;
}

/* ----------------------------------------------------------------------------
 * Note Editor
 * ------------------------------------------------------------------------- */

.workspace__active-note {
	display: flex;
	width: 60%;
	height: 100%;
}

/* ----------------------------------------------------------------------------
 * Edit Buttons
 * ------------------------------------------------------------------------- */

.workspace__btns {
	display: flex;
	align-items: flex-end;
}
