/* ----------------------------------------------------------------------------
 * Notes Collection - Container
 * ------------------------------------------------------------------------- */

.notes-collection {
	display: flex;
	padding: 30px 20px;
	background: var(--primary-bg-color);

	/* Fallback styles */
	max-width: 100vw;
	min-height: min(93vh, (100% - 55px));
	padding-bottom: calc(max(7vh, 55px) + 30px);

	/* Styles for browsers that support dvw and dvh */
	@supports (width: 1dvw) and (height: 1dvh) {
		max-width: 100dvw;
		min-height: min(93dvh, (100% - 55px));
		padding-bottom: calc(max(7dvh, 55px) + 30px);
	}
}

/* ----------------------------------------------------------------------------
 * Notes Collection - Notecards
 * ------------------------------------------------------------------------- */

.notes-collection__notecards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	padding: 16px 0;
	gap: 30px;
	width: 100%;
}

/* ----------------------------------------------------------------------------
 * Responsive Breakpoints
 * ------------------------------------------------------------------------- */

@media screen and (min-width: 400px) {
	.notes-collection {
		padding: 40px;

		/* Fallback styles */
		padding-bottom: calc(max(7vh, 55px) + 40px);

		/* Styles for browsers that support dvw and dvh */
		@supports (width: 1dvw) and (height: 1dvh) {
			padding-bottom: calc(max(7dvh, 55px) + 40px);
		}
	}
	.notes-collection__notecards {
		gap: 40px;
	}
}
