/* ----------------------------------------------------------------------------
 * Note - Container
 * ------------------------------------------------------------------------- */

.note {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1rem;
}

/* ----------------------------------------------------------------------------
 * Note - Title and Body
 * ------------------------------------------------------------------------- */

.note__title:focus,
.note__body:focus {
	box-shadow: 0 0 10px #84888a;
	outline: none;
}

/* ----------------------------------------------------------------------------
 * Note - Title
 * ------------------------------------------------------------------------- */
.note__title {
	width: 100%;
	margin: 0.2rem;
	border: none;
	padding: 1rem;
	font-family: var(--primary-font);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: clamp(1.5rem, 3vw, 3.33rem);
}

/* ----------------------------------------------------------------------------
 * Note - Body Container
 * ------------------------------------------------------------------------- */
.note__body-container {
	width: 100%;
	height: 100%;
	margin: 0.2rem;
}

.note__body-container::after {
	content: '';
	display: block;
	position: relative;
	bottom: clamp(2.3rem, 3.8vw, 4.13rem);
	left: 0;
	width: 100%;
	height: clamp(2.3rem, 3.8vw, 4.13rem);
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1)
	);
	pointer-events: none;
}

/* ----------------------------------------------------------------------------
 * Note - Body
 * ------------------------------------------------------------------------- */
.note__body {
	width: 100%;
	height: 100%;
	border: none;
	padding: 1rem;
	font-family: var(--primary-font);
	font-size: 1rem;
	resize: none;
}
