.notes-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

.note-edit {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

#note-title, #note-body {
    margin: 2%;
    border: none;
    padding: 1%;
    font-family: 'Cardo', serif;
}

#note-title:focus, #note-body:focus {
    box-shadow: 0 0 10px rgb(195, 195, 195);
    outline: none;
}

#note-title {
    font-size: 4em;
}

#note-body {
    resize: none;
    height: 75%;
    font-size: 1em;
}
