/* ----------------------------------------------------------------------------
 * Note 
 * ------------------------------------------------------------------------- */
 .note {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
  }

  /* ----------------------------------------------------------------------------
   * Note Title & Note Body
   * ------------------------------------------------------------------------- */
  .note__title,
  .note__body {
    margin: 2%;
    border: none;
    padding: 1%;
    font-family: 'Cardo', serif;
  }
  
  .note__title:focus,
  .note__body:focus {
    box-shadow: 0 0 10px #84888a;
    outline: none;
  }
  
  .note__title {
    font-size: 4em;
  }
  
  .note__body {
    resize: none;
    height: 80%;
    font-size: 1em;
  }
  
